/* 
 * Menu
 
#menu {
    border-bottom: 1px solid #999;
    margin: 20px 0px;
    padding: 10px 0pt 5px;
    text-align: center;
}

#menu li {
    display: inline;
    margin: 0px;
    padding: 0px;
}

#menu a {
    background: #ddd none repeat;
    border: 1px solid #999;
    margin: 0 5px 0 5px;
    padding: 5px;
}

#menu a.current {
    background: #fff none repeat;
    border-bottom: 1px solid #fff;
}

#menu a {
    color: black;
    text-decoration: none;
}
*/